# Composer
/vendor/

# Environment variables
.env
.env.*.local

# Other common ignores
/.idea/
.DS_Store
npm-debug.log
yarn-error.log

# File tidak penting untuk modul pengumuman
/modul-pengumuman/uploads
modul-pengumuman/announcements.json
